.composition {
  position: relative;

  &__photo {
    //oluline responsive design juures piltide puhul
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    //et pilte ette tuua, siis index
    z-index: 10;
    //effecti aeg
    transition: all 0.2s;
    //outline juurde, jääb vahe sissepildi ja joone vahel
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      //vähem teada properti outline aga tegelt minu aravtes pole seda siia vajagi
      outline: 0.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      //hoveri puhul pilt ette kuna index suurem
      z-index: 20;
    }
  }

  //nagu hover üle komposiitioni siis võta ette photo ja võta ette see mis pole hovered. st tee teised väiksemaks
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
