*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*root fond suuruseks 10px, default on 16px 65,2% sellest on 10. this defines what 1rem is*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
